body {
    
    background-image: url('snap.webp');
    opacity: 1;
    /* filter: brightness(200%); */
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;  
    margin: 0;
    background-position: fixed;

}


@keyframes backgroundZoom {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 110%;
    }
}


    
/* Animation for login box */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
    


/* Main container: Image on the left and form on the right */
.main-container {
    max-width: 600px;
    width: 100%;
    padding-left: 400px;
    padding-right: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(119, 106, 87, 0.8);
}
/* Style for the form */
.form-container {
    flex: 1;
    padding: 40px;
    padding-left: 45px;
    padding-right: 0px;
    background-color:#f0f8ff;
    border-radius: 60px;
    border-top-right-radius: 0;
    border-bottom-left-radius:0 ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

    
    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
        padding-right: 20px;
    }
    
    input[type="text"], input[type="email"], input[type="tel"], select {
        font-size: 20px;
        width: 90%;
        padding: 1px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-color: #b0c4de;
        border-radius: 10px;
    }

    input::placeholder{
        font-size: 15px;
    }

    select{
        font-size: 15px;
    }

    option{
        font-size: 15px;
    }
    
    button[type="submit"] {
        margin-left: 200px;
        background-color: #f7f8fa;
        color: #008CBA;
        border: 3px solid rgb(17, 12, 24);;;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 20px;
        width: 20%;
    }
    
    button[type="submit"]:hover {
        color: white;
        background-color: #2668ed;
    }

    button[type="button"]{
        margin-left: 45px;
        width: 76%;
        color: #DC3545;
        background-color: #f0f8ff;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0; 
        padding: 5px 10px;
        border: none;
        margin-bottom: 70px;
        margin-top: 10px;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    button:hover{
        color: rgba(9, 5, 227, 0.795);
        background: transparent;
    }
    
    .note {
        margin-top: -70px;
        font-size: 11px;
    }
    
    .contact-link {
        color: #007bff;
        text-decoration: none;
    }
    
    .contact-link:hover {
        text-decoration: underline;
    };