body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #4d7cae;
    color: white;
    padding: 12px;
    text-align: center;
}
.home {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}


header h1 {
    margin: 0;
    font-size: 36px;
}


.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.service-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
    text-transform: capitalize;
}

.service-card:hover h3 {
    color: #3b82f6;
}

.service-card p {
    font-size: 14px;
    color: #666;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}